//
// El siguiente bloque de texto, aunque comentado,
// es necesario para que Rails tome los archivos
// de la carpeta app/assets/stylesheets.
// Sin este bloque de texto, los css personalizados
// no funcionan!!!

/* ...
*= require_main
*= require_self
*= require_tree .
*/

@import "bootstrap";
@import "mdl_resources";




 #panelLoginInterior
{
    align-content: center;
    text-align: center;
    margin-top: 3%;


}

#buttonIngresarLogin
{
    font-size: 250%;
  background-color: #004949;
}

#buttonOlvideContraseña
{

      font-size: 250%;
  background-color: #009292;
}


#botonDecurso
{
  font-size: 250%;
}

#botonDeEvento
{

  background-color: #490092;
  font-size: 250%

}
