@import "bootstrap";


 #panelLoginInterior
{
    align-content: center;
    text-align: center;
    margin-top: 3%;


}

.colorDeFondo
{
  background-color: black !important;
}

#buttonIngresarLogin
{
    font-size: 250%;
  background-color: #004949;
}

#buttonOlvideContraseña
{

      font-size: 250%;
  background-color: #009292 ;
}


#botonDecurso
{
  font-size: 250%;
}

#botonDeEvento
{

  background-color: #490092;
  font-size: 250%

}

//largo de campo input
#email{
  width: 100%;
}
