<%= form_tag(controller: "mdl_resources", action: "sinRecursos", method: "get") do |f| %>

<title>Ingreso</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrapo/3.3.7/js/bootstrap.min.js"></script>

<div id="panelLogin" class="container-fluid">

  <div id="panelLoginInterior" class="panel panel-default">

    <div class="panel-body">


               <div class="col-lg-12"><h1>Lo sentimos, en este curso aun no hay material </h1></div>
               <div class="btn btn-default"><%= link_to "Ir a eventos", controller: "mdl_events", action: "eventosPorCurso", courseid: params[:course]%></div>



    </div>
  </div>
</div>
<% end %>
