<%= form_for :mdl_contexts, :url => { :action => :obtenerCursosPorIdUsuario } do |f| %>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div id="panelLogin" class="container-fluid">
<div id="panelLoginInterior" class="panel panel-default">
  <div class="panel-body">



     <h1> "Hola Mundo para rails" </h1>

<% end %>
</div>
</div>
