<%= form_for :mdl_forum_discussions, :url => { :action => :discusionesPorForo } do |f| %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <ul class="nav navbar-nav">

 <li><%= link_to "Volver a foros", controller: "mdl_forums", action: "forosPorCurso", course:  @mdl_forum_discussions.pluck(:course)%></li>

</ul>
</div>
</nav>




<div class="row">
  <div class="col-md-12 "><h2>Foros</h2></div>
</div>

<% @mdl_forum_discussions.each do |mdl_forum_discussions| %>

<div class="row">
<div class="col-md-12 courseButton"><%= link_to mdl_forum_discussions.name, controller: "mdl_forum_posts", action: "postPorDiscusionPrincipal", discussion: mdl_forum_discussions.id%></div>
</div>
<% end %>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#"></a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#">Mis Cursos</a></li>
     <li><a href="#">Buscar Cursos</a></li>
     <li><a href="#">Mi Usuario</a></li>
     <li><a href="#">Mis Mensajes</a></li>
   </ul>
 </div>
</nav>



<% end %>
