<h1>Editing Mdl Forum Discussion</h1>

<%= render 'form', mdl_forum_discussion: @mdl_forum_discussion %>

<%= link_to 'Show', @mdl_forum_discussion %> |
<%= link_to 'Back', mdl_forum_discussions_path %>
