

@import "bootstrap";




 #panelLoginInterior
{
    align-content: center;
    text-align: center;
    margin-top: 3%;


}

body
{
  background-color: black !important;

}

#buttonIngresarLogin
{
    font-size: 250%;
  background-color: #004949 !important;
}

#buttonOlvideContraseña
{

      font-size: 250%;
  background-color: #009292 !important;
}


#botonDecurso
{
  font-size: 250%;
}

#botonDeEvento
{

  background-color: #490092 !important;
  font-size: 250%

}
