
 #panelLoginInterior
{
    align-content: center;
    text-align: center;
    margin-top: 3%;


}



#buttonIngresarLogin
{
  background-color: #004949 !important;
}


body
{
  background-color: black;

}
#botonDecurso
{
  font-size: 250%;
}
