<%= form_for :mdl_events, :url => { :action => :eventosPorCurso } do |f| %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="btn-group ">
 <%= link_to "Ir a material", controller: "mdl_resources", action: "obtenerRecursosPorCurso", course: @mdl_events.pluck(:courseid)%>
 <%= link_to "Ir a foros", controller: "mdl_forums", action: "forosPorCurso", course: @mdl_events.pluck(:courseid)%>
</div>



<div class="row">
  <div class="col-md-12 "><h2>Eventos</h2></div>
</div>

<% @mdl_events.each do |mdl_events| %>

<div class="row">
<div class="col-md-12 courseButton"><%=  mdl_events.name %></div>
</div>
<% end %>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#"></a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#">Mis Cursos</a></li>
     <li><a href="#">Buscar Cursos</a></li>
     <li><a href="#">Mi Usuario</a></li>
     <li><a href="#">Mis Mensajes</a></li>
   </ul>
 </div>
</nav>



<% end %>
